In [3]:
from BPTK_Py import Model
from BPTK_Py.bptk import bptk
from BPTK_Py import sd_functions

bptk = bptk()

model = Model(starttime=1, stoptime=100, dt=1, name='test')

a = model.converter('a')
b = model.converter('b')

a.equation = 0
b.equation = 100.0 + (sd_functions.delay(model,a,20.0,10.0) )

df = b.plot(return_df=True)

assert (df[0:20] == 110.0).all()["b"]
assert (df[21:] == 100).all()["b"]

In [4]:
int(10.25)

10

In [5]:
df[19:30]

        b
20  110.0
21  100.0
22  100.0
23  100.0
24  100.0
25  100.0
26  100.0
27  100.0
28  100.0
29  100.0
30  100.0